alias z='fasd_cd -d'

# Git
alias gcal='git-cal'

# Miscellaneous
alias c='clear'
alias cp='cp -iv'
alias dropbox='cd ~/Dropbox'
alias ll='ls -al'
alias ls='ls -FGlAhp'
alias mkdir='mkdir -p'
alias mv='mv -iv'
alias rmdots="find . -name \"*.swp\" -exec rm -rf {} \\;"
alias up='cd ../'
alias up.='up'
alias up..='cd ../../'
alias up...='cd ../../../'
alias up....='cd ../../../../'
alias up.....='cd ../../../../../'

# Ruby
alias be='bundle exec'

# Typos
alias claer='clear'
alias clera='clear'
alias im='vim'
alias rpsec='rspec'
