*.docx diff=word
*.pbxproj binary
*.png diff=exif
*.jpeg diff=exif
*.jpg diff=exif
*.py[co] binary export-ignore

/logs export-ignore

*.py text diff=python

*.ipynb text eol=lf

*.md text diff=markdown

*.json text
*.toml text
*.xml text
*.yaml text
*.yml text
