#==============================================================================
# Binaries
#==============================================================================
*.pbxproj binary
*.png diff=exif
*.jpeg diff=exif
*.jpg diff=exif
*.o binary
*.py[co] binary export-ignore

#==============================================================================
# Directories
#==============================================================================
/logs export-ignore


#==============================================================================
# CSS
#==============================================================================
*.css text diff=css
*.scss text diff=css

#==============================================================================
# C++
#==============================================================================
*.cpp text eol=lf diff=cpp

#==============================================================================
# Go
#==============================================================================
*.go text eol=lf diff=golang

#==============================================================================
# Java
#==============================================================================
*.java text eol=lf diff=java
*.gradle text eol=lf diff=java

#==============================================================================
# Kotlin
#==============================================================================
*.kt text eol=lf diff=kotlin
*.gradle.kts text eol=lf diff=kotlin

#==============================================================================
# Python
#==============================================================================
*.py text eol=lf diff=python
*.ipynb text eol=lf

#==============================================================================
# Ruby
#==============================================================================
Gemfile text eol=lf diff=ruby
*.gemspec text eol=lf diff=ruby
*.rb text eol=lf diff=ruby

#==============================================================================
# Rust
#==============================================================================
*.rs text eol=lf diff=rust

#==============================================================================
# Shell
#==============================================================================
*.bash text eol=lf
*.fish text eol=lf
*.ksh text eol=lf
*.sh text eol=lf
*.zsh text eol=lf

#==============================================================================
# Vim
#==============================================================================
*.vim text eol=lf
.vimrc text eol=lf

#==============================================================================
# Windows
#==============================================================================
*.bat text eol=crlf
*.ps1 text eol=crlf

#==============================================================================
# Documents
#==============================================================================
*.bibtex text diff=bibtex
*.docx diff=word
*.json text
*.md text diff=markdown
*.tex text diff=tex
*.toml text diff=toml
*.xml text
*.yaml text
*.yml text

#==============================================================================
# Ignore
#==============================================================================
*.gitattributes export-ignore
*.gitignore export-ignore
*.gitkeep export-ignore
