[alias]
  ca = commit --amend
  d = diff
  graph = log --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --date=relative --graph
  la = log --pretty=format:'%C(yellow)%h - %ad%Cred%d | %Creset%s%Cblue [%cn]' --decorate --date=short --numstat
  ls = log --pretty=format:'%C(yellow)%h - %ad%Cred%d | %Creset%s%Cblue [%cn]' --decorate --date=short
  p = push
  pl = pull
  root = "!f() { cd $(git rev-parse --show-toplevel); }; f"
  s = status
  sc = stash clear
  sl = stash list
  sp = stash pop
  touched = "!f() { git log --pretty='%H' --author='Petesta\\|Pete Cruz' | while read commit_hash; do git show --oneline --name-only $commit_hash | tail -n+2; done | sort | uniq; }; f"
[color "branch"]
  local = blue
  remote = yellow
[color "diff"]
  func = cyan
  meta = yellow
  whitespace = red
[color "status"]
  untracked = yellow
[core]
  editor = vim
  excludesfile = ~/.gitignore
[credential]
  helper = osxkeychain
[push]
  default = upstream
[user]
  email = iPetesta@gmail.com
  name = Pete Cruz
