# Compiled
*.class
*.hi
*.o
*.pyc

# Directories
.elasticbeanstalk
.idea
.vagrant
__pycache__
bin
dist
log
node_modules
target
temp
tmp

# Logs
*.log

# Operating System
.DS_Store*
.env

# Redis
*.rdb

# Terminal
*.sw*
